.navbar {
    background: linear-gradient(90deg, #898AA6, #7FA1C3) !important;

  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FEF3E2;
  }
  
  .navLinks {
    display: flex;
    gap: 1rem;
    color: #FEF3E2;

  }
  